{% extends 'base.html' %}

{% block title %}Add New Recipe{% endblock %}

{% block content %}
<h2>Add New Recipe</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Title</label>
        <input class="form-control" type="text" name="title" required>
    </div>
    <div class="mb-3">
        <label>Category</label>
        <select class="form-control" name="category">
            <option>Dessert</option>
            <option>Soup</option>
            <option>Fish</option>
            <option>Meat</option>
            <option>Appetizers</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Ingredients</label>
        <textarea class="form-control" name="ingredients" rows="4" required></textarea>
    </div>
    <div class="mb-3">
        <label>Cooking Process</label>
        <textarea class="form-control" name="process" rows="5" required></textarea>
    </div>
    <div class="mb-3">
        <label>Image</label>
        <input class="form-control" type="file" name="image">
    </div>
    <button class="btn btn-primary">Add Recipe</button>
</form>
{% endblock %}